<div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h1>新規投稿</h1>
              <% if @brewery.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= I18n.t("errors.messages.not_saved",
                               count: @brewery.errors.count,
                               resource: @brewery.class.model_name.human.downcase)
                     %>
                  </h2>
                  <ul>
                    <% @brewery.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <%= form_with model: @brewery, local:true do |f| %>
                <div class="form-group">
                  <label for="image"></label>
                  <div><%= f.attachment_field :image %></div>
                </div>
                <div class="form-group">
                  <label for="brewery_title">ブルワリー名</label>
                  <div><%= f.text_field :brewery_name %></div>
                </div>
                <label for="brewery_prefecture">都道府県</label>
                <div><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %></div>
                <div class="form-group">
                  <label for="address">住所</label>
                  <div><%= f.text_area :address %></div>
                </div>
                <div class="form-group">
                  <label for="brewery_comment">コメント</label>
                  <div><%= f.text_area :comment %></div>
                </div>
                <div class="field" id="star">
                  <%= f.label :star, "星評価：" %>
                  <%= f.hidden_field :star, id: :review_star %>
                  <script>
                    $('#star').raty({
                      size     : 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      scoreName: 'brewery[star]',
                      half: true,
                    });
                  </script>
                </div>
                <div class="form-group">
                  <%= f.submit '投稿', class: "btn btn-success" %>
                </div>
              <% end %>
          </div>
        </div>
</div>