<h2>投稿詳細</h2>

                    <div><%= attachment_image_tag @brewery, :image, size: "60x60", fallback: "no_image.jpg"%></div>

                    <div>ブルワリー：<%= @brewery.brewery_name %></div>
                    <div>地域：<%= @brewery.prefecture_id %></div>
                    <div>投稿者：<%= link_to "#{@user.name}", user_path(@user) %></div>
                    <div>コメント：<%= @brewery.comment %></div>
                    <div>評価：</div>
                    <% if @brewery.favorited_by?(current_user) %>
                      <p>
                        <%= link_to favorites_path(@brewery), method: :delete do %>
                          ♥<%= @brewery.favorites.count %> いいね
                        <% end %>
                      </p>
                      <% else %>
                      <p>
                        <%= link_to favorites_path(@brewery), method: :post do %>
                          ♡<%= @brewery.favorites.count %> いいね
                        <% end %>
                      </p>
                    <% end %>
                    <% if @user.id == current_user.id %>
                    <%= link_to "編集", edit_brewery_path(@brewery), class: "btn btn-sm btn-success edit_book_14995"%>
                    <%= link_to "削除", brewery_path(@brewery), method: :delete, data: {confirm: "本当に削除しますか?"}, class: "btn btn-sm btn-danger destroy_book_14995"%></td>
                    <% end %>
