<main>
  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
  <% end %>
    <div class="container px-5 px-sm-0">
      <div class="row">
          <div class="col-md-3">
            <h2>投稿詳細</h2>
              <div><%= attachment_image_tag @brewery, :image, size: "400x400", fallback: "no_image.jpg"%></div>
              <div>ブルワリー：<%= @brewery.brewery_name %></div>
              <div>地域：<%= @brewery.prefecture.try(:name) %></div>
              <div>投稿者：<%= link_to "#{@user.name}", user_path(@user) %></div>
              <div id="likes_buttons_<%= @brewery.id %>">
               <%= render partial: 'favorites/like', locals: { brewery: @brewery} %>
              </div>
          </div>
          <div class="col-md-8 offset-md-1">
              <div>コメント：<%= @brewery.comment %></div>
                <div class="relative-post-evaluation">
                  <span>評価：</span>
                  <span id="star-rate-<%= @brewery.id %>"></span>
                  <script>
                    $('#star-rate-<%= @brewery.id %>').raty({
                      size: 36,
                      starOff: "<%= asset_path('star-off.png') %>",
                      starOn: "<%= asset_path('star-on.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= @brewery.star %>,
                    });
                  </script>
                  <%= @brewery.star %>
                </div>
              <% if @user.id == current_user.id %>
                <%= link_to "編集", edit_brewery_path(@brewery), class: "btn btn-sm btn-success edit_book_14995"%>
                <%= link_to "削除", brewery_path(@brewery), method: :delete, data: {confirm: "本当に削除しますか?"}, class: "btn btn-sm btn-danger destroy_book_14995"%></td>
              <% end %>
          </div>
      </div>
    </div>
</main>